body{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   max-width: 100%;
}
.wrapper{
   position: relative;
   overflow: hidden;
   min-width: 100%;
}
/*======= main ==========*/
.buttle{
   background: url("../img/nature1") 0 0 no-repeat;
   background-size: auto 900px;
   min-height: 900px;
   min-width: 1200px;
   position: relative;
   z-index: 100;
}
.buttle__img{
   position: absolute;
}
/* Dragons */
.buttle__img--a{
   height: 150px;
   width: 400px;
   top: 150px;
   position: relative;
   transform: skew(5deg, 5deg);
}
.buttle__img--a:hover{
   transform: rotate(20deg) translate(100%);
   transition: all 0.9s ease 0s;
}
/* solgers */
.buttle__img--b{
   height: 150px;
   width: 200px;
   top: 550px;
}
.buttle__img--b-2{
   height: 150px;
   width: 200px;
   top: 500px;
}.buttle__img--b-3{
   height: 130px;
   width: 170px;
   left: 90px;
   top: 470px;
}
/* iron man */
.buttle__img--c{
   height: 130px;
   width: 90px;
   top: 400px;
   left:270px;
}
.buttle__img--c:hover{
   transform: translate(10px,20px);
}
/* Doctor Strange */
.buttle__images--perspective{
   perspective: 200px;
}
.buttle__img--e{
   height: 200px;
   width: 120px;
   top: 342px;
   left: 500px;
   transform: rotate(20deg);
}
/* flag */
.buttle__img--f{
   height: 70px;
   width: 150px;
   left: 70px;
   top: 530px;
}
/* Brus Willis */
.buttle__img--g{
   height: 70px;
   width: 150px;
   left: 350px;
   top: 546px;
}
.buttle__img-text{
   position: absolute;
   left: 330px;
   top: 360px;
   height: 200px ;
   width: 300px;
   display: none;
}
.buttle__images--quote:hover .buttle__img-text{
   display: block;
}
/* captan america */
.buttle__images--preserve{
   transform-style: preserve-3d;
   perspective: 500px;
}
.buttle__img--h{
   height: 120px;
   width: 90px;
   top: 480px;
   left: 680px;
} 
.buttle__img--h:hover{
   transform: rotateY(70deg);
   transition: all 0.3s ease 0s;
}
/* Halk */
.buttle__img--i{
   height: 300px;
   width: 300px;
   top: 550px;
   left: 60px;
   transform: scale(0.5);
} 
.buttle__img--i:hover{
   transform: scale(1.5);
}
/* Mark Dacascos */
.buttle__img--j{
   height: 100px;
   width: 100px;
   top: 640px;
   left: 850px;
}
.buttle__img--j:hover{
transform: translate(-100px,-15px);
transition: all 0.3s ease 0s;
}
/* sigal */
.buttle__img--k{
   height: 250px;
   width: 100px;
   top: 645px;
   left: 900px;
}
/* three orks */
.buttle__img--l{
   height: 200px;
   width: 350px;
   top: 700px;
   left: 1000px;
   transform: rotate3d(-1,-1,-5, -2deg);
}
.buttle__img--z{
   height: 20px;
   width: 30px;
   top: 704px;
   left: 1116px;
}
.buttle__img--m{
   height: 200px;
   width: 350px;
   top: 600px;
   left: 900px;
   transform: skew(20deg,7deg);
}
.buttle__img--m2{
   height: 200px;
   width: 350px;
   top: 600px;
   left: 1000px;
   transform: skew(20deg,7deg);
}