
a {
   color: rgb(232, 28, 28);
}

#parag-one {
   color: rgb(195, 255, 0);
}

#parag-two {
   color: rgb(255, 157, 0);
}

#parag-three {
   color: rgb(255, 51, 0);
}

#parag-four {
   color: rgb(60, 255, 0);
}

#parag-five {
   color: rgb(255, 0, 106);
}

p {
   color: rgb(0, 17, 255);
}

p.time {
   color: aqua;
}

span {
   color: coral;
}