body{
   background-color: rgb(15, 14, 14);
}
.game-container{
   max-width: 700px;
   margin: 0 auto;
   box-shadow: 10px 10px 10px 10px rgb(227, 8, 8);
}
.game-box{
   margin-top: 50px;
   background-color: rgb(20, 19, 19);
   color: white;
   min-height: 500px;
   padding: 50px;
}
.start{
   background-color: rgb(246, 7, 7);
   height: 50px;
   font-size: 20px;
   margin-right: 550px;
   padding: 13px 4px 5px;
   border-radius: 5px 5px 0px 0px;
}
.a{
   background-color: rgb(246, 7, 7);
   height: 50px;
   margin-right: 200px;
}
.a::before{
   content: url(../icons/icons8-mouse-animal-48.png);
}
.b{
   height: 35px;
   margin-left: 350px;
   background-color: rgb(246, 7, 7);
}
.c{
   height: 35px ;
   margin-left: 550px;
   background-color: rgb(246, 7, 7);
}
.d{
   height: 30px;
   margin-left: 200px;
   background-color: rgb(246, 7, 7);
}
.e{
   height: 20px; ;
   margin-right: 370px;
   background-color: rgb(246, 7, 7);
}
.f{
   height: 20px;
   margin-right: 580px;
   background-color: rgb(246, 7, 7);
}
.g{
   height: 20px;
   margin-right: 580px;
   background-color: rgb(246, 7, 7);
}
.h{
   height: 19px;
   margin-right: 300px;
   background-color: rgb(246, 7, 7);
}
.i{
   height: 20px;
   margin-left: 270px;
   margin-right: 200px;
   background-color: rgb(246, 7, 7);
}
.j{
   height: 20px;
   margin-right: 150px;
   margin-left: 370px;
   background-color: rgb(246, 7, 7);
}
.k{
   height: 20px;
   margin-right: 150px;
   margin-left: 430px;
   background-color: rgb(246, 7, 7);
}
.l{
   height: 20px;
   margin-right: 150px;
   margin-left: 430px;
   background-color: rgb(246, 7, 7);
}
.m{
   height: 20px;
   margin-right: 150px;
   margin-left: 310px;
   background-color: rgb(246, 7, 7);
}
.n{
   height: 20px;
   margin-right: 270px;
   margin-left: 310px;
   background-color: rgb(246, 7, 7);
}
.finish{
   height: 40px;
   margin-left: 270px;
   margin-right: 230px;
   text-align: center;
   padding: 7px;
   background-color: rgb(246, 7, 7);
   border-radius: 0px 0px 5px 5px;
}
.finish::after{
   content: url(../icons/icons8-cheese-64.png);
   height: 2px;
   width: 2px;
}
.game-box div:not(:first-child){
   visibility: hidden;
}

.game-box div:hover + div,
.game-box div:hover{
   visibility: visible;
}
