body{
   font-family: sans-serif;
   color: #424551;
   line-height: 160%;
}
.wrapper{
   overflow: hidden;
   min-height: 100%; /*додається для прибивання*/
   position: relative;
   display: flex;
   flex-direction: column; /*розвертає*/
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"]{
   max-width: 1260px; 
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
.page__block{
   padding: 10px 40px;
   background-color: rgb(48, 58, 88);
}
.page__title{
   font-weight: 900;
   font-size: 24px;
   color: white;
}
.page__text{
   color: green;
}
span{
   font-weight: 700;
   color: rgb(20, 13, 13);
}
pre{
   font-style: italic;
   color: rgb(17, 122, 117);
}
.text--false{
   color: red;
}
.text--warn{
   color: rgb(221, 245, 3);
}